<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggl fade-in-animation-togglev" data-toggle="collapse" data-target="#main-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if site.title-img %}
            <a class="navbar-brand navbar-brand-logo fade-in-animation" href="{{ site.url }}"><img src="{{ site.title-img }}"/></a>
            {% else %}
            {% if page.ID == "TAG" %}
            <a class="navbar-brand fade-in-animation" href="{{ site.url }}/Taiwan-Awesome-Ghicken">Taiwan Awesome Ghicken</a>
            {% else %}
            <a class="navbar-brand fade-in-animation" href="{{ site.url }}">{{ site.title }}</a>
            {% endif %}
            {% endif %}
        </div>
        
        <div class="collapse navbar-collapse fade-in-animation" id="main-navbar">
            <ul class="nav navbar-nav navbar-right">
                {% if page.ID == "TAG" %}
                
                {% for link in page.navbar-links %}
                <li>
                    {% include navbarlink.html link=link %}
                </li>
                {% endfor %}
                
                {% else %}
                {% for link in site.navbar-links %}
                {% if link[1].first %}
                <li class="navlinks-container">
                    <a class="navlinks-parent" href="javascript:void(0)">{{ link[0] }}</a>
                    <div class="navlinks-children">
                        {% for childlink in link[1] %}
                        {% for linkparts in childlink %}
                        {% include navbarlink.html link=linkparts %}
                        {% endfor %}
                        {% endfor %}
                    </div>
                </li>
                {% else %}
                <li>
                    {% include navbarlink.html link=link %}
                </li>
                {% endif %}
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        
        {% if page.image and (layout.show-avatar or page.show-avatar) %}
        <div class="avatar-container drop-in-animation">
            <div class="avatar-img-border">
                {% if page.ID == "TAG" %}
                <a href="{{ site.url }}/Taiwan-Awesome-Ghicken">
                {% else %}
                <a href="{{ site.url }}">
                {% endif %}
                    <img class="avatar-img" src="{{ page.image | prepend: site.baseurl | replace: '//', '/' }}" />
                </a>
            </div>
        </div>
        {% elsif site.avatar and (layout.show-avatar or page.show-avatar) %}
        <div class="avatar-container drop-in-animation">
            <div class="avatar-img-border">
                <a href="{{ site.url }}">
                    <img class="avatar-img" src="{{ site.avatar | prepend: site.baseurl | replace: '//', '/' }}" />
                </a>
            </div>
        </div>
        {% endif %}
        
    </div>
</nav>
