{% capture before %}{{ include.link[1] | split: "://" | first }}{% endcapture %}
{% capture after %}{{ include.link[1] | split: "://" | last }}{% endcapture %}
{% assign internal = true %}
{% if before != after %}
  {% if before == "http" or before == "https" %}
    {% assign internal = false %}
  {% endif %}
{% endif %}

{% if internal %}
{% if page.ID == "TAG" %}
  {% if include.link[1] == "home" %}
  {% capture linkurl %}{{ site.baseurl }}/Taiwan-Awesome-Ghicken{% endcapture %}
  {% else %}
  {% capture linkurl %}{{ site.baseurl }}/tag/{{ include.link[1] }}{% endcapture %}
  {% endif %}
{% else %}
  {% capture linkurl %}{{ site.baseurl }}/{{ include.link[1] }}{% endcapture %}
{% endif %}
{% else %}
{% if page.ID == "TAG" %}
  {% if include.link[1] == "home" %}
  {% capture linkurl %}/Taiwan-Awesome-Ghicken{% endcapture %}
  {% else %}
  {% capture linkurl %}/tag/{{ include.link[1] }}{% endcapture %}
  {% endif %}
{% else %}
  {% capture linkurl %}{{ include.link[1] }}{% endcapture %}
{% endif %}
{% endif %}

<a href="{{ linkurl }}">{{ include.link[0] }}</a>
